{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

	<section class="container my-5 text-start h-100">
		<div class="row justify-content-center my-5">
			<div class="bg-warning-subtle col-sm-10 col-md-8 col-lg-6 col-xl-6 my-5 bg-light">
                <h1 class="h3 font-weight-normal text-center my-5">Connexion</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control m-2" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control m-2" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            <div class="text-center my-5">
                <button class="btn btn-lg btn-secondary" type="submit">
                    Me connecter
                </button>
            </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}
